# 
# 21.06.30 01:15
# add: usb-modeswitch luci-app-dockerman Translations
#
# 21.06.29 13:25
# add: autocore automount
# 
# C-12: add docker

# 设置固件大小:
CONFIG_TARGET_KERNEL_PARTSIZE=256
CONFIG_TARGET_ROOTFS_PARTSIZE=2048

# 基本设备
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_VMDK_IMAGES=y
#CONFIG_TARGET_IMAGES_GZIP=n
CONFIG_GRUB_IMAGES=y
CONFIG_EFI_IMAGES=y
#CONFIG_TARGET_ROOTFS_TARGZ=y

# 其他需要安装的软件包:
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-qbittorrent=y
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-app-rclone=y
CONFIG_PACKAGE_luci-app-usb-printer=y
##CONFIG_PACKAGE_luci-app-amule=y
CONFIG_PACKAGE_luci-app-onliner=y
CONFIG_PACKAGE_luci-app-diskman=y
#CONFIG_PACKAGE_luci-app-dockerman=y
##CONFIG_PACKAGE_luci-app-gowebdav=y
CONFIG_PACKAGE_luci-app-netdata=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wrtbwmon=y
CONFIG_PACKAGE_luci-app-splash=y
CONFIG_PACKAGE_luci-app-jd-dailybonus=y
CONFIG_PACKAGE_netdata=y

# Delete App
CONFIG_DEFAULT_luci-app-uugamebooster=n
CONFIG_PACKAGE_luci-app-uugamebooster=n

# Themes
CONFIG_PACKAGE_luci-theme-atmaterial=y
CONFIG_PACKAGE_luci-theme-darkmatter=y
CONFIG_PACKAGE_luci-theme-netgear=y

# Wireless
CONFIG_PACKAGE_wpad-basic-wolfssl=y

# USB3.0支持:
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_autosamba=y
CONFIG_PACKAGE_autosamba-ksmbd=y

# Extra Packages
CONFIG_DEFAULT_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_autocore-x86=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kmod-ata-core=y
CONFIG_PACKAGE_kmod-block2mtd=y
CONFIG_PACKAGE_kmod-scsi-generic=y
CONFIG_PACKAGE_kmod-kvm-x86=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_ntfs-3g=y

# iperf3
CONFIG_PACKAGE_iperf3=y

# ksmbd
CONFIG_PACKAGE_kmod-fs-ksmbd=y

# USB net driver
#CONFIG_PACKAGE_kmod-rtlwifi=y
#CONFIG_PACKAGE_kmod-rtlwifi-btcoexist=y
#CONFIG_PACKAGE_kmod-rtlwifi-usb=y
#CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_kmod-rtl8192cu=y
CONFIG_PACKAGE_kmod-rtl8821cu=y
#CONFIG_PACKAGE_kmod-mt76x2u=y
CONFIG_PACKAGE_kmod-usb-net-asix=y
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
#CONFIG_PACKAGE_kmod-usb-net-rtl8152-vendor=y

# docker
#CONFIG_PACKAGE_docker-ce is not set
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-dm=y
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-ikconfig=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_kmod-nf-ipvs=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_luci-app-docker=y
CONFIG_PACKAGE_dockerd=y

# nfs
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-vfat=y

CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb-xhci-hcd=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y

# Translations
CONFIG_LUCI_LANG_zh-cn=y
CONFIG_LUCI_LANG_uk=y
CONFIG_LUCI_LANG_ko=y
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_pl=y
CONFIG_LUCI_LANG_ru=y
CONFIG_LUCI_LANG_de=y
CONFIG_LUCI_LANG_zh-tw=y
CONFIG_LUCI_LANG_it=y

# Native Language
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-cp936=y
CONFIG_PACKAGE_kmod-nls-cp950=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y

# Editor
CONFIG_PACKAGE_nano=y
